.container{

/* x-axis centering */
justify-content: center;
background-color:#F1F1F1;
padding-top: 20px
}

.header{
    font-size: 25px;
    font-weight: bold;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;
}

.display_container{
    background-color: pink;
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}