.display_item{
    background-color: white;
    width: 85%;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    
    padding-top: 10px;
    padding-bottom: 10px;

    /* border-radius: 15px; */
}

.item_name{
    font-size: 18px;
    font-weight: bold;
}